name: Test Linux Environment (Clang)

on:
  push:
    branches:
      - clang

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        clang: [11, 10, 9, 8, 7]

    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Install clang
        run: sudo apt update && sudo apt install -y clang-${{ matrix.clang }}

      - name: Create Build Environment
        run: cmake -E make_directory ${{github.workspace}}/build

      - name: Configure CMake
        shell: bash
        working-directory: ${{github.workspace}}/build
        run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_C_COMPILER=clang-${{ matrix.clang }} -DCMAKE_CXX_COMPILER=clang++-${{ matrix.clang }}

      - name: Build
        working-directory: ${{github.workspace}}/build
        shell: bash
        run: cmake --build . --config $BUILD_TYPE

      - name: Test
        working-directory: ${{github.workspace}}/build
        shell: bash
        run: ./app/kens/kens-all-run-solution 

      - name: Test (Unreliable)
        working-directory: ${{github.workspace}}/build
        shell: bash
        run: ./app/kens/kens-all-unreliable-run-solution 
